@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.checklist {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 0 2rem;
  gap: 1rem;

  @include tablet {
    @include body;
    margin-bottom: 2rem;
    margin-top: 1.25rem;
  }

  &__item-label {
    color: $pg-off-white;
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;

      @include tablet {
        margin-right: 1.5rem;
      }
    }
  }
}
