// Colors
$pg-dark-grey: #24232c;
$pg-grey: #817d92;
$pg-off-white: #e6e5ea;
$pg-grey-black: #18171f;
$pg-neon-green: #a4ffaf;
$pg-red: #f64a4a;
$pg-orange: #fb7c58;
$pg-yellow: #f8cd65;

// Media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
