@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

html,
body,
button {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", "Source Code Pro", "Courier New", monospace,
    sans-serif;

  * {
    box-sizing: inherit;
  }
}

.App {
  text-align: center;
}
