@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

html,
body,
button,
input,
p {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", "Source Code Pro", "Courier New", monospace,
    sans-serif;

  * {
    box-sizing: inherit;
  }
}

html {
  background-color: #08070b;
}

.app {
  text-align: center;
  margin-top: 4rem;

  @include tablet {
    margin-top: 8rem;
  }

  &__title {
    color: $pg-grey;
    @include body;

    @include tablet {
      @include medium-heading;
    }
  }
}

.form {
  margin: 1rem;

  @include tablet {
    margin: 2rem 7.125rem 12.25rem;
  }

  @include desktop {
    margin: 2rem 28rem 12.25rem;
  }

  &__output-section {
    position: relative;
  }

  &__password-output {
    background-color: $pg-dark-grey;
    border: none;
    color: $pg-off-white;
    padding: 1rem;
    width: 100%;
    @include medium-heading;

    &::placeholder {
      color: $pg-off-white;
      opacity: 0.25;
    }

    @include tablet {
      padding: 1.1875rem 2rem;
    }
  }

  &__copy-icon {
    position: absolute;
    top: 32%;
    right: 1rem;
    width: 17.5px;

    @include tablet {
      right: 1.75rem;
      width: 21px;
    }
  }

  &__main-content {
    background-color: $pg-dark-grey;
    padding: 1rem;
    margin-top: 1rem;

    @include tablet {
      margin-top: 1.5rem;
      padding: 1.5rem 2rem 2rem;
    }
  }

  &__btn {
    @include btn;

    svg {
      margin-left: 1rem;
    }
  }
}

.char-length {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    margin-bottom: 0.5rem;
  }

  &__text {
    color: $pg-off-white;
    font-size: 1rem;

    @include tablet {
      @include body;
    }
  }

  &__number {
    color: $pg-neon-green;
    @include medium-heading;

    @include tablet {
      @include large-heading;
    }
  }
}

.checklist {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;

  @include tablet {
    margin-top: 0.75rem;
    @include body;
    margin-bottom: 2rem;
  }

  &__item-label {
    color: $pg-off-white;
  }
}

.password-strength {
  background-color: $pg-grey-black;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1rem;

  @include tablet {
    padding: 1.25rem 2rem;
    margin-bottom: 2rem;
  }

  p {
    text-transform: uppercase;
    color: $pg-grey;

    @include tablet {
      @include body;
    }
  }

  div {
    color: $pg-off-white;
    @include body;
    text-transform: uppercase;

    @include tablet {
      @include medium-heading;
    }
  }
}
